.testInput[type='text'] {
  outline: 0;
}

.testInput:focus-visible {
  outline: 2px solid green;
}
.is-selected {
  outline: 0 !important;
  border-left: 10px solid rgb(189, 7, 7);
}

.wrapper:focus-within {
  outline: 2px solid red;
}

.outside {
  height: 200px;
  background: lightgray;
}

.caja {
  background-color: rgb(134, 74, 74);
  border: 2px solid red;
  height: 300px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500px;
}
