<wcag-demo></wcag-demo>

<!--
<div style="display: grid">
  <checkbox [label]="'test1'"></checkbox>
  <checkbox [label]="'test2'" [disabled]="true"></checkbox>
  <checkbox [label]="'test3'" [isReadOnly]="true"></checkbox>
  <checkbox [label]="'test4'" [isChecked]="true"></checkbox>
  <checkbox [label]="'test5'" [isChecked]="true" [isReadOnly]="true"></checkbox>
  <checkbox [label]="'test6'" [isReadOnly]="true"></checkbox>
  <checkbox [label]="'test7'" [size]="'sm'"></checkbox>
  <checkbox [label]="'test8'" [size]="'lg'"></checkbox>
  <checkbox [label]="'test9'" [variant]="'accent'"></checkbox>
  <checkbox [label]="'test10'" [variant]="'ghost'"></checkbox>
  <checkbox [label]="'test1'" disableBuiltInStyles="true"></checkbox>
</div>

<stepper></stepper>



<app-week-calendar></app-week-calendar>

<app-destination-filter></app-destination-filter>

<div class="wrapper">
  <input type="text">
</div>

<div class="outside"></div>
-->

<!-- <button class="caja" (click)="changeColor()">{{ nombreDeCaja }}</button> -->
<!--
<label>
  <input
    [ngClass]="{ 'is-selected': isSelected1 }"
    (pointerdown)="isSelected1 = true"
    (blur)="isSelected1 = false"
    class="testInput"
    type="text"
  />
  <input
    [ngClass]="{ 'is-selected': isSelected2 }"
    (pointerdown)="isSelected2 = true"
    (blur)="isSelected2 = false"
    class="testInput"
    type="text"
  />
  <span> Name</span>
</label> 
-->
